{% extends 'base.html' %}
{% block title %}
Authentication
{% endblock %}
{% block content %}
{% from 'security/_macros.html' import render_field_with_errors, render_field %}
<h2>{{ _('Authentication') }}</h2>
<br/>
<div class="shadow p-3 mb-5 rounded bg-body">
    <form method="POST">
        {{ form.hidden_tag() }}
    
        {{ render_field_with_errors(form.code, class="form-control") }}
        {{ render_field(form.submit, class="btn btn-secondary") }}

        <button type="button" class="btn btn-primary" onclick="pageRedirect()" id="resend" name="resend" disabled>Resend</button>

        
    </form>
    
    </div>
<style>
    .inline {
   display:inline-block;
   margin-right:5px;
}
</style>
<script>
    function setDisabled() {
        document.getElementById('resend').disabled = false;
    }
	var timeLeft = 30;
	var elem = document.getElementById('timer');
	var timerId = setInterval(countdown, 1000);

	function countdown() {
		if (timeLeft == -1) {
			clearTimeout(timerId);
			setDisabled();
		} else {
			elem.innerHTML = 'You can resend in '+timeLeft+' secounds';
			timeLeft--;
		}
	}
    function pageRedirect() {
      window.location.href = "{{url_for('auth.resend', id = id, purpose='Authentication Resend')}}";
    }
</script>
{% endblock %}