{% extends 'base.html' %}
{% block title %}
Forgot Password
{% endblock %}
{% block content %}
{% from 'security/_macros.html' import render_field_with_errors, render_field %}
<h2>{{ _('Forgot Password') }}</h2>
<br/>
<style>
	.eye{
		position: absolute;
		right: 145px;
		transform: translate(0, -50%);
		top: 285px;
		cursor: pointer;
	}
	.eye_1{
		position: absolute;
		right: 145px;
		transform: translate(0, -50%);
		top: 365px;
		cursor: pointer;
	}
	.fa{
		font-size: 20px;
		}
</style>
<div class="shadow p-3 mb-5 rounded bg-body">
<form method="POST">
	{{ form.hidden_tag() }}

	{{ render_field_with_errors(form.code, class="form-control") }}
    {{ render_field_with_errors(form.new_password, class="form-control") }}
	<span class="eye"><i class="fa fa-eye" onclick="toggle()" id="eye"></i></span>

	{{ render_field_with_errors(form.conform_password, class="form-control") }}
	<span class="eye_1"><i class="fa fa-eye" onclick="toggle_1()" id="eye_1"></i></span>

	{{ render_field(form.submit, class="btn btn-secondary") }}
	<div id="timer"></div><button type="button" class="btn btn-primary" onclick="pageRedirect()" id="resend" name="resend" disabled>Resend</button>

</form>

</div>
<script>
	var state = false;
	var state_1 = false;
	function setDisabled() {
        document.getElementById('resend').disabled = false;
    }
	var timeLeft = 30;
	var elem = document.getElementById('timer');
	var timerId = setInterval(countdown, 1000);

	function countdown() {
		if (timeLeft == -1) {
			clearTimeout(timerId);
			setDisabled();
		} else {
			elem.innerHTML = 'You can resend in '+timeLeft+' secounds';
			timeLeft--;
		}
	}
	function toggle(){
		if(state){
			document.getElementById(
				"new_password").setAttribute("type","password");
			document.getElementById(
				"eye").setAttribute("class", "fa fa-eye")
			state = false;
		}
		else{
			document.getElementById(
				"new_password").setAttribute("type","text");
			document.getElementById(
				"eye").setAttribute("class", "fa fa-eye-slash")

			state = true;
		}
	}
	function toggle_1(){
		if(state_1){
			document.getElementById(
				"conform_password").setAttribute("type","password");
			document.getElementById(
				"eye_1").setAttribute("class", "fa fa-eye")
			state_1 = false;
		}
		else{
			document.getElementById(
				"conform_password").setAttribute("type","text");
			document.getElementById(
				"eye_1").setAttribute("class", "fa fa-eye-slash")

			state_1 = true;
		}
	}
    
	function pageRedirect() {
      window.location.href = "{{url_for('auth.resend', id = id, purpose='Forgot Password Resend')}}";
    }
</script>

{% endblock %}