{% extends 'base.html' %}

{% block title %}
Add User
{% endblock %}

{% block content %}

{% from 'security/_macros.html' import render_field_with_errors, render_field %}
<style>
	.eye{
		position: absolute;
		right: 140px;
		transform: translate(0, -50%);
		top: 450px;
		cursor: pointer;
	}
	.eye_1{
		position: absolute;
		right: 140px;
		transform: translate(0, -50%);
		top: 530px;
		cursor: pointer;
	}
	.fa{
		font-size: 20px;
		}
</style>
<h1>Add User: </h1>
<br/>
<div class="shadow p-3 mb-5 rounded bg-body">
<form method="POST" enctype="multipart/form-data">
	{{ form.hidden_tag() }}

	{{ render_field_with_errors(form.name, class="form-control") }}

	{{ render_field_with_errors(form.email, class="form-control") }}
	{{ render_field_with_errors(form.ph_no, class="form-control") }}

	{{ render_field_with_errors(form.passw, class="form-control") }}
	<span class="eye"><i class="fa fa-eye" onclick="toggle()" id="eye"></i></span>

	{{ render_field_with_errors(form.confrm_passw, class="form-control") }}
	<span class="eye_1"><i class="fa fa-eye" onclick="toggle_1()" id="eye_1"></i></span>

	{{ render_field_with_errors(form.img, class="form-control" ,accept="image/x-png,image/gif,image/jpeg" ,type="file") }}

	{{ render_field(form.submit, class="btn btn-secondary") }}
</form>
</div>
<script>
	var state = false;
	var state_1 = false;
	function toggle(){
		if(state){
			document.getElementById(
				"passw").setAttribute("type","password");
			document.getElementById(
				"eye").setAttribute("class", "fa fa-eye")
			state = false;
		}
		else{
			document.getElementById(
				"passw").setAttribute("type","text");
			document.getElementById(
				"eye").setAttribute("class", "fa fa-eye-slash")
			state = true;
		}
	}
	function toggle_1(){
		if(state_1){
			document.getElementById(
				"confrm_passw").setAttribute("type","password");
			document.getElementById(
				"eye_1").setAttribute("class", "fa fa-eye")
			state_1 = false;
		}
		else{
			document.getElementById(
				"confrm_passw").setAttribute("type","text");
			document.getElementById(
				"eye_1").setAttribute("class", "fa fa-eye-slash")

			state_1 = true;
		}
	}
	// var url = window.location()
	// window.write(url)
	var array1 = [1,2,3]
	
	var car = 123;
	var num = toString(123);

</script>

{% endblock %}
