{% extends 'base.html' %}

{% block title %}
Add User
{% endblock %}

{% block content %}

{% from 'security/_macros.html' import render_field_with_errors, render_field %}
<style>
	.wrapper{
		position: relative;
	}
	.eye{
		position: absolute;
		right: 10px;
		transform: translate(0, -50%);
		bottom: 0%;
		cursor: pointer;
	}
	.fa{
		font-size: 20px;
		}
	.center {
	margin: auto;
	width: 60%;
	border: 5px;
	padding: 10px;
	}
	
	meter {

	margin: 0 auto 1em;
	width: 100%;
	height: 0.75em;
	display:none;

	/* Applicable only to Firefox */
	background: none;
	background-color: rgba(175, 23, 23, 0.1);
	}

	meter::-webkit-meter-bar {
	background: none;
	background-color: rgba(0, 0, 0, 0.1);
	}
	/* Webkit based browsers */
	meter[value="1"]::-webkit-meter-optimum-value { background: red; }
	meter[value="2"]::-webkit-meter-optimum-value { background: yellow; }
	meter[value="3"]::-webkit-meter-optimum-value { background: orange; }
	meter[value="4"]::-webkit-meter-optimum-value { background: green; }

	/* Gecko based browsers */
	meter[value="1"]::-moz-meter-bar { background: red; }
	meter[value="2"]::-moz-meter-bar { background: yellow; }
	meter[value="3"]::-moz-meter-bar { background: orange; }
	meter[value="4"]::-moz-meter-bar { background: green; }

</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>
<h1>Add User: </h1>
<ul>
	<li>
        Email must be a <strong>valid email address</strong> so that you get a verification code to enter.
    </li>
	<li>
        Password must be <strong>minimum of 8 characters</strong>.
    </li>
</ul>
<div class="shadow p-3 mb-5 rounded bg-body">
<form method="POST" enctype="multipart/form-data" autocomplete="off">
	{{ form.hidden_tag() }}

	{{ render_field_with_errors(form.name, class="form-control", autocomplete="off") }}
	
	{{ render_field_with_errors(form.email, class="form-control", autocomplete="off") }}
	
	{{ render_field_with_errors(form.ph_no, class="form-control", autocomplete="off", type='number') }}

	<div class="wrapper">
		{{ render_field_with_errors(form.passw, class="form-control", autocomplete="new-password") }}
		<span class="eye"><i class="fa fa-eye" onclick="toggle()" id="eye"></i></span>
	</div>
	<meter max="4" id="password-strength-meter"></meter>
	<p id="password-strength-text"></p>
	<br>
	<div class="wrapper">
		{{ render_field_with_errors(form.confrm_passw, class="form-control", autocomplete="new-password") }}
		<span class="eye"><i class="fa fa-eye" onclick="toggle_1()" id="eye_1"></i></span>
	</div>
	<strong><p id="message"></p></strong>
	<br>
	{{ render_field_with_errors(form.img, class="form-control" ,accept="image/x-png,image/gif,image/jpeg" ,type="file") }}

	{{ render_field(form.submit, class="btn btn-secondary") }}
</form>
</div>
<script>
	var state = false;
	var state_1 = false;
	$(document).ready(function(){
  $('[data-toggle="popover"]').popover();
	});
	function toggle(){
		if(state){
			document.getElementById(
				"passw").setAttribute("type","password");
			document.getElementById(
				"eye").setAttribute("class", "fa fa-eye")
			state = false;
		}
		else{
			document.getElementById(
				"passw").setAttribute("type","text");
			document.getElementById(
				"eye").setAttribute("class", "fa fa-eye-slash")
			state = true;
		}
	}
	function toggle_1(){
		if(state_1){
			document.getElementById(
				"confrm_passw").setAttribute("type","password");
			document.getElementById(
				"eye_1").setAttribute("class", "fa fa-eye")
			state_1 = false;
		}
		else{
			document.getElementById(
				"confrm_passw").setAttribute("type","text");
			document.getElementById(
				"eye_1").setAttribute("class", "fa fa-eye-slash")

			state_1 = true;
		}
	}
	var strength = {
	0: "Worst",
	1: "Bad",
	2: "Weak",
	3: "Good",
	4: "Strong"
	}
	var password = document.getElementById('passw');
	var confm_pass = document.getElementById('confrm_passw');
	var meter = document.getElementById('password-strength-meter');
	var text = document.getElementById('password-strength-text');
	var msg = document.getElementById('message');

	password.addEventListener('input', trigger);

	function trigger() {
	var val = password.value;
	var result = zxcvbn(val);

	// Update the password strength meter
	meter.value = result.score;

	// Update the text indicator
	if (val !== "") {
		text.innerHTML = "Strength: " + strength[result.score]; 
		meter.style.display = "block";
	} else {
		text.innerHTML = "";
		meter.style.display = "none";
	}
	}
	confm_pass.addEventListener('input', function(){
		if (password.value !== confm_pass.value){
			message.innerHTML = "Passwords are not same";
		}
		else{
			msg.innerHTML = "";
		}
	});
</script>

{% endblock %}
