{% extends 'base.html' %}

{% block title %}
Add User
{% endblock %}

{% block content %}

{% from 'security/_macros.html' import render_field_with_errors, render_field %}
<style>
	.wrapper{
		position: relative;
	}
	.eye{
		position: absolute;
		right: 10px;
		transform: translate(0, -50%);
		bottom: 0%;
		cursor: pointer;
	}
	.fa{
		font-size: 20px;
		}
</style>
<h1>Add User: </h1>
<ul>
	<li>
        Email must be a <strong>valid email address</strong> so that you get a verification code to enter.
    </li>
	<li>
        Password must be <strong>minimum of 8 characters</strong>.
    </li>
</ul>
<div class="shadow p-3 mb-5 rounded bg-body">
<form method="POST" enctype="multipart/form-data" autocomplete="off">
	{{ form.hidden_tag() }}

	{{ render_field_with_errors(form.name, class="form-control", autocomplete="off") }}
	
	<br>
	{{ render_field_with_errors(form.email, class="form-control", autocomplete="off") }}
	
	{{ render_field_with_errors(form.ph_no, class="form-control", autocomplete="off", type='number') }}

	<br>
	<div class="wrapper">
		{{ render_field_with_errors(form.passw, class="form-control") }}
		<span class="eye"><i class="fa fa-eye" onclick="toggle()" id="eye"></i></span>
	</div>

	<div class="wrapper">
		{{ render_field_with_errors(form.confrm_passw, class="form-control") }}
		<span class="eye"><i class="fa fa-eye" onclick="toggle()" id="eye_1"></i></span>
	</div>

	{{ render_field_with_errors(form.img, class="form-control" ,accept="image/x-png,image/gif,image/jpeg" ,type="file") }}

	{{ render_field(form.submit, class="btn btn-secondary") }}
</form>
</div>
<script>
	var state = false;
	var state_1 = false;
	function toggle(){
		if(state){
			document.getElementById(
				"passw").setAttribute("type","password");
			document.getElementById(
				"eye").setAttribute("class", "fa fa-eye")
			state = false;
		}
		else{
			document.getElementById(
				"passw").setAttribute("type","text");
			document.getElementById(
				"eye").setAttribute("class", "fa fa-eye-slash")
			state = true;
		}
		if(state_1){
			document.getElementById(
				"confrm_passw").setAttribute("type","password");
			document.getElementById(
				"eye_1").setAttribute("class", "fa fa-eye")
			state_1 = false;
		}
		else{
			document.getElementById(
				"confrm_passw").setAttribute("type","text");
			document.getElementById(
				"eye_1").setAttribute("class", "fa fa-eye-slash")

			document.getElementById(
				"passw").setAttribute("type","text");
			document.getElementById(
				"eye").setAttribute("class", "fa fa-eye-slash")

			state_1 = true;
		}
	}
</script>

{% endblock %}
