<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" align="center" bgcolor="#FFFFFF">
    <tbody>
    <tr>
        <td style="padding:0px 40px 20px 40px;font-family:'Roboto',sans-serif;font-size:17px;line-height:20px;color:#555555;text-align:center;font-weight:300">


            <p style="margin:0 0 5px 0">You received this email because you requested for {{purpose}}</p>


    </td></tr> 
    <tr>
        <td style="padding:0px 40px 20px 40px;font-family:'Roboto',sans-serif;font-size:17px;line-height:20px;color:#555555;text-align:center;font-weight:300">


            <p style="margin:0 0 5px 0">Use the verification code below, Valid only for one hour</p>


    </td></tr>
    <tr>
        <td style="padding:20px 40px 40px 40px;text-align:center" align="center">

            
            <table role="presentation" align="center" cellspacing="0" cellpadding="0" border="0" class="m_-5913751601422035803center-on-narrow">
                <tbody><tr>
                    <td style="border-radius:8px;background:#ffffff;text-align:center">
                        <div style="background:#ffffff;border:2px solid #e2e2e2;font-family:'Roboto',sans-serif;font-size:30px;line-height:1.1;text-align:center;text-decoration:none;display:block;border-radius:8px;font-weight:bold;padding:10px 40px">
                            <span style="color:#333;letter-spacing:5px">{{code}}</span>
                        </div>
                    </td>
                </tr>
            </tbody></table>
            

        </td>
    </tr>

</tbody></table>