{% extends 'base.html' %}

{% block title %}
{{post.title}}
{%endblock%}

{% block content %}
<style>
    .fa{
        font-size: 20px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .card-img-bottom{
        padding: auto;
        margin-left: 20px;
        margin-bottom: 10px;
        max-width: 600px;
    }
    .center {
        position: absolute;
        left: 120px;
        width: 80%;
        padding: 10px;
    }
    .likes-comments{
        position: relative;
    }
    </style>
<h1>{{post.title}}</h1>
{% if post.poster_id == current_user.id or current_user.has_role('admin') %}
    <a href="{{ url_for('post.edit_post', id=post.id)}}" class="btn btn-outline-secondary btn-sm">Edit Post</a>

	<a data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-outline-secondary btn-sm" href="{{url_for('post.delete_post', id=post.id)}}">Delete</a>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog"><div class="modal-content"><div class="modal-header"><h5 class="modal-title" id="exampleModalLabel">Confirmation</h5><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div><div class="modal-body">Are you sure you want to delete?<form action="{{ url_for('post.delete_post', id=post.id) }}" method="POST"><button type="submit" class="btn btn-primary" style="float: right;">Yes</button></form></div></div></div></div>
    </div>
{% endif %}
<br/>
<div class="card center">
    <div class="card-body">
      <h5 class="card-title">{{post.title}}</h5>
      <p class="card-text">By: {{ post.poster.name }}</p>
      <p class="card-text"><small class="text-muted">Posted: {{post.date_posted}} </small></p>    
      <div class="p-2">
        {{ post.content|safe }}
        </div>
    </div>
    {% if post.img %}
        <img src="/static/posts/{{ post.img }}" class="card-img-bottom" alt="Image" >

    {% endif %}

    <div class="likes-comments">
{% if current_user.is_authenticated %}
    {% if current_user.has_liked_post(post) %}
    <a href="{{ url_for('post.like_action', post_id=post.id, action='unlike') }}">
        <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
    </a>
  {% else %}
    <a href="{{ url_for('post.like_action', post_id=post.id, action='like') }}">
        <span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></span>
    </a>
  {% endif %}
  {% else %}
  <a href="{{ url_for_security('login')}}">Login</a> to like <br>
{%endif%}
{{ post.likes.count() }} likes
</div>
{% endblock %}