{% extends 'base.html' %}

{% block title %}
User Profile
{%endblock%}

{% block content %}
<style>
    .center {
        position: absolute;
        left: 120px;
        width: 80%;
        padding: 10px;
    }
    </style>
<h1>User Profile</h1>
{% if current_user.id == user.id or current_user.has_role('admin') %}
    <a href="{{url_for('auth.update', name=user.id)}}">(update)</a>
    <a data-bs-toggle="modal" data-bs-target="#exampleModal" href="{{url_for('auth.delete', id=user.id)}}">(Delete)</a>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog"><div class="modal-content"><div class="modal-header"><h5 class="modal-title" id="exampleModalLabel">Confirmation</h5><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div><div class="modal-body">Are you sure you want to delete?<form action="{{ url_for('auth.delete', id=user.id) }}" method="POST"><br/><input autofocus class="form-control" type="password" id="passw" name="passw" placeholder="Password"><br/><button type="submit" class="btn btn-primary" style="float: right;">Yes</button></form></div></div></div></div>
    </div>
    </div>
    <br/>
{% else %}
    <a href="{{url_for_security('login', name=user.email, next=request.referrer)}}">Login</a> to do actions
    <br/>
{% endif %}
<br/>
<div class="card mb-3 center" >
    <div class="row g-0">
      <div class="col-md-2">
          {% if user.img %}
                <img src="/static/user_images/{{ user.img }}" class="card-img">
  
          {% else %}
                <img src="/static/Default-Profile.png" class="card-img">
          {% endif %}
      </div>
      <div class="col-md-10">
        <div class="card-body">
            <form >
                <div class="field">
                    {{ form.name.label(class="form-label") }}
                    <div class="control">
                        <input class="form-control" value="{{user.name}}" readonly>
                    </div>
                </div>
                <br/>
                <div class="field">
                    {{ form.email.label(class="form-label") }}
                    <div class="control">
                        <input class="form-control" value="{{user.email}}" readonly>
                    </div>
                </div>
                <br/>
                <div class="field">
                    {{ form.ph_no.label(class="form-label") }}
                    <div class="control">
                        <input class="form-control" value="{{user.ph_no}}" readonly>
                    </div>
                </div>


                <br/>
            </form>
          
        </div>
      </div>
    </div>
</div>
<script>
	// var imgSet = document.getElementsByTagName("img");
	// var output = "";
	// for (var i = 0; i< imgSet.length; i++) {
	// 	output += "<p> Source for Image ";
	// 	output += i+1;
	// 	output += ": ";
	// 	output += "<a href=";
    //     output += imgSet[i].src;
    //     output += " target=\"_blank\">"
    //     output += imgSet[i].src;
	// 	output += "<\/a><\/p>";		
	// }
	// document.write(output);
    // window.open('http:localhost/static/new.gif', '_blank')
</script>
{% endblock %}