{% extends 'base.html' %}

{% block title %}
Users
{% endblock %}

{% block content %}
{% include '_messages.html' %}
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
<h1>Users: </h1>
<style>
    .wrapper{
        position: relative;
    }
    .clear{
        position: absolute;
        
        right: 10px;
        display: none;
        cursor: pointer;
    }
    .fa{
        font-size: 25px;
    }
</style>
{% if our_users %}
<span id="label">Search By:</span>

<select name="select" id="select" onchange="myFunction()">
    <option value="1">User Name</option>
    <option value="2">Email Id </option>
</select>
<br>
<div class="wrapper">
<br>
<span id="clear" class="clear"><i class="fa fa-times" onclick="reset()"></i></span>
<input type="text" id="search" class="form-control" placeholder="Search" autocomplete="off" oninput="myFunction()">

</div>

<br id="border">

<table class="table table-hover table-bordered table-striped sortable" id="users">
	
	<colgroup>
		<col span="1" style="width: 10%;">
		<col span="1" style="width: 30%;">
		<col span="1" style="width: 25%;">
		<col span="1" style="width: 18%;">
		<col span="1" style="width: auto;">
	</colgroup>
	<tr>
		<td style="text-align:center"><strong>User ID</strong></td>
		<td><strong>User Name</strong></td>
		<td><strong>Email ID</strong></td>
		<td><strong>Date Added</strong></td>
		<td><strong>Actions</strong></td>
	</tr>
    {% for our_user in our_users %}
    
    <tr class="item" id="{{our_user.name}}">
        <td style="text-align:center">{{ our_user.id -1 }}</td>
        <td><a href='{{url_for("other.profile", name=our_user.id)}}'>{{ our_user.name }}</a></td>
        <td>{{ our_user.email }}</td>
        <td>{{ our_user.date_added }}</td>
        <td>{% if our_user.id == current_user.id or current_user.has_role('admin') %}
            <a href="{{url_for('auth.update', name=our_user.id)}}">Update</a>
            <a data-bs-toggle="modal" data-bs-target="#exampleModal" href="{{url_for('auth.delete', id=our_user.id)}}">Delete</a>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog"><div class="modal-content"><div class="modal-header"><h5 class="modal-title" id="exampleModalLabel">Confirmation</h5><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div><div class="modal-body">Are you sure you want to delete?<form action="{{ url_for('auth.delete', id=our_user.id) }}" method="POST"><br/><input autofocus class="form-control" type="password" id="passw" name="passw" placeholder="Password"><br/><button type="submit" class="btn btn-primary" style="float: right;">Yes</button></form></div></div></div></div>
            </div>
            {%elif not current_user.is_authenticated%}
            <a id='login' href="{{url_for_security('login')}}">Login</a> To do actions
            {%else%}
            No Access
            {% endif %}
        </td>
    </tr>
    {% endfor %}
	<tr id="noitem" style="display: none;"><td colspan="6" style="text-align:center">No items match</td></tr>
</table>

{% else %}
<h4>No Users <a href="{{ url_for('auth.add_user') }}">Add</a> One</h4>

{% endif %}

<script>
    var url = new URL('http://localhost:5000/login')
    url.searchParams.append('next', window.location.href)
    document.getElementById('login').href = url
</script>
<script> 
    let table = document.getElementById('users');
    let input_place = document.getElementById('border');
    let u_name = []
    let email = []
    var length = table.rows.length;
    for (let i = 1; i < length; i++){
        u_name.push(table.rows[i].cells[1].innerText);
        email.push(table.rows[i].cells[2].innerText);
    };
    
	function myFunction() {
        var tab = document.getElementById('users');
        tab.remove()
        input_place.insertAdjacentHTML('afterEnd', table.outerHTML)
        var tab = document.getElementById('users');
        tab.setAttribute("class", 'table table-hover table-bordered table-striped sortable')
        var x = document.getElementById("search").value.toLowerCase();
        if (x.length > 0){
            document.getElementById('clear').style.display = 'table-row'
        }
        else{
            document.getElementById('clear').style.display = 'none'
        }
        var type = document.getElementById("select").value;
        if (type === '1'){
            var u_searched = u_name.filter(name => name.toLowerCase().includes(x))
            // document.getElementById('label').innerHTML = type+u_searched;
            for (let j = 0; j < u_name.length; j++){
                if (u_searched.includes(u_name[j])){
                    document.getElementById('noitem').style.display = 'none';
                }
                if (!u_searched.includes(u_name[j])){
                    tab.deleteRow(document.getElementById(u_name[j]).rowIndex)
                    document.getElementById('noitem').style.display = 'none';
                }
                if (u_searched.length === 0) {
                    document.getElementById('noitem').style.display = 'table-row';
                }
                
            }
        }
        else {
            var e_searched = email.filter(name => name.toLowerCase().includes(x))
            // document.getElementById('label').innerHTML = type+e_searched;

            for (let j = 0; j < email.length; j++){
                if (e_searched.includes(email[j])){
                    document.getElementById('noitem').style.display = 'none';
                }
                if (!e_searched.includes(email[j])){
                    tab.deleteRow(document.getElementById(u_name[j]).rowIndex)
                    document.getElementById('noitem').style.display = 'none';
                }
                if (e_searched.length === 0) {
                    document.getElementById('noitem').style.display = 'table-row';
                }
                
            }
        }
	}
    function reset() {
        document.getElementById('clear').style.display = 'none';
        document.getElementById('search').value = '';
        document.getElementById('users').remove()
        input_place.insertAdjacentHTML('afterEnd', table.outerHTML)
        }
</script>
{% endblock %}